{% extends 'socialapp/header.html' %}
{% load staticfiles %}
{% block body %}

<div id="page-contents">
    	<div class="container">
    		<div class="row">

    			<!-- Newsfeed Common Side Bar Left
          ================================================= -->
          {%  include 'socialapp/leftsidebar.html'%}

    			<div class="col-md-7">

            <!-- Post Create Box
            ================================================= -->

            <div class="create-post">
            	<div class="row">
            		<div class="col-md-7 col-sm-7">
                  <div class="form-group">
                    <img src="{% static "images/users/user-1.jpg" %}" alt="" class="profile-photo-md" />
                    <textarea name="texts" id="exampleTextarea" cols="30" rows="1" class="form-control" placeholder="Write what you wish"></textarea>
                  </div>
                </div>
            		<div class="col-md-5 col-sm-5">
                  <div class="tools">
                    <ul class="publishing-tools list-inline">
                      <li><a href="#"><i class="ion-compose"></i></a></li>
                      <li><a href="#"><i class="ion-images"></i></a></li>
                      <li><a href="#"><i class="ion-ios-videocam"></i></a></li>
                      <li><a href="#"><i class="ion-map"></i></a></li>
                    </ul>
                    <button class="btn btn-primary pull-right">Publish</button>
                  </div>
                </div>
            	</div>
            </div><!-- Post Create Box End -->





            <!-- Friend List
            ================================================= -->
            <div class="friend-list">
            	<div class="row">

                {% for f in friends_list %}

                <div class="col-md-6 col-sm-6">
                  <div class="friend-card">
                  	<img src="{% static "images/covers/5.jpg" %}" alt="profile-cover" class="img-responsive cover" />
                  	<div class="card-info">
                      <img src="{{media_url}}{{f.profilepic}}" alt="user" class="profile-photo-lg" />
                      <div class="friend-info">
                        <a href="#" class="pull-right text-green">My Friend</a>
                      	<h5><a href="/see_other_profile/{{ f.friend_id }}" class="profile-link">{{ f.first_name }} {{ f.last_name }}</a></h5>

                      </div>
                    </div>
                  </div>
                </div>

                {% endfor %}


            	</div>
            </div>



          </div>
{#    {%  include 'socialapp/rightsidebar.html' %}#}


    		</div>
    	</div>
    </div>
{% include 'socialapp/footer.html' %}
{% endblock %}