{% extends 'socialapp/header.html' %}
{% block body %}
<div id="lp-register">
<div class="container wrapper">
        <div class="row">
        	<div class="col-sm-5">
            <div class="intro-texts">
            	<h1 class="text-white">Make Cool Friends !!!</h1>
            	<p>Friend Finder is a social network template that can be used to connect people. The template offers Landing pages, News Feed, Image/Video Feed, Chat Box, Timeline and lot more. <br /> <br />Why are you waiting for? Buy it now.</p>

            </div>
          </div>
        	<div class="col-sm-6 col-sm-offset-1">
            <div class="reg-form-container">


               <!--Login-->
                <div class="tab-pane" id="login">
                  <h3>Login</h3>
                  <p class="text-muted">Log into your account</p>

                  <!--Login Form-->
                  <form name="Login_form" id='Login_form' method="post" action="{% url 'socialapp:user_login' %}">
                     <div class="row">
                      <div class="form-group col-xs-12">
                        <label for="my-email" class="sr-only">Email</label>
                        <input id="my-username" class="form-control input-group-lg" type="text" name="username" title="Enter Email" placeholder="Your Username"/>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-xs-12">
                        <label for="my-password" class="sr-only">Password</label>
                        <input id="my-password" class="form-control input-group-lg" type="password" name="password" title="Enter password" placeholder="Password"/>
                      </div>
                    </div>
                      {% csrf_token %}
                      <p><a href="#">Forgot Password?</a></p>
                  <button class="btn btn-primary" type="submit">Login Now</button>
                  </form><!--Login Form Ends-->
                    {% for message in messages %}

                    <div class="alert alert-danger">
                        <a class="close" href="#" data-dismiss="alert">×</a>

                        {{ message }}

                    </div>
                    {% endfor %}


            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
 </body>
</html>
{% endblock %}