{% extends 'socialapp/header.html' %}
{% block body %}
<div id="lp-register">
    	<div class="container wrapper">
        <div class="row">
        	<div class="col-sm-5">
            <div class="intro-texts">
            	<h1 class="text-white">Make Cool Friends !!!</h1>
            	<p>Friend Finder is a social network template that can be used to connect people. The template offers Landing pages, News Feed, Image/Video Feed, Chat Box, Timeline and lot more. <br /> <br />Why are you waiting for? Buy it now.</p>

            </div>
          </div>

            {% if registered %}
                <h2 class="display-4 text-center">Thank You For Registering,Please <a href="{% url 'socialapp:user_login' %}">Login</a> </h2>

             {% else %}
        	<div class="col-sm-6 col-sm-offset-1">
            <div class="reg-form-container">


              <!--Registration Form Contents-->
              <div class="tab-content">
                <div class="tab-pane active" id="register">
                  <h3>Register Now !!!</h3>
                  <p class="text-muted">Be cool and join today. Meet millions</p>

                  <!--Register Form-->
                  <form name="registration_form" id='registration_form' class="form-inline" method="post" action="{% url 'socialapp:register' %}">
                        {% csrf_token %}
                      {% for field in user_form %}


                        <div class="row">
                          <div class="form-group col-xs-12">
                              <label class="sr-only" for="{{ field.name }}">{{ field.label }}</label>
                            {{ field }}
                          </div>
                        </div>

                      {% endfor %}
                  {% for field in personal_form %}
                      <div class="row">
                      <div class="form-group col-xs-12">
                          <label class="sr-only" for="{{ field.name }}">{{ field.label }}</label>
                        {{ field }}
                      </div>
                    </div>
                  {% endfor %}
                      <p><a href="#">Already have an account?</a></p>
                  <button class="btn btn-primary" type="submit">Register Now</button>


                  </form><!--Register Now Form Ends-->

                {% for message in messages %}

                    <div class="alert alert-danger">
                        <a class="close" href="#" data-dismiss="alert">×</a>

                        {{ message }}

                    </div>
                {% endfor %}

                </div><!--Registration Form Contents Ends-->

              </div>
            </div>
          </div>
            {% endif %}
        </div>

      </div>
    </div>

 </body>
</html>
{% endblock %}